﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Dental Assistant</h1>
    <p class="lead">Dental Assistant: Asistente para Consultorio Dental</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-baseline">Pacientes<i class="fa fa-user"></i></div>
            <div class="card-body">

                <p>
                    5 Pacientes Nuevos
                </p>

            </div>
            <div class="card-footer">
                @Html.ActionLink("Ver Pacientes", "Index", "Pacientes", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-baseline">Consultas <i class="fa fa-notes-medical"></i></div>
            <div class="card-body">
                
                <p>23 Consultas Nuevas en la semana</p>
                
            </div>
            <div class="card-footer">@Html.ActionLink("Ver Consultas", "Index", "Consultas", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-baseline">Citas<i class="fa fa-calendar-check"></i></div>
            <div class="card-body">

                
                <p>20 Citas nuevas agendadas</p>
                
            </div>
            <div class="card-footer">@Html.ActionLink("Ver Citas", "Index", "Citas", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })</div>
        </div>
            </div>
        </div>
