﻿@model DentalAssistant.Models.Cita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paciente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodo_recordatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodo_recordatorio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cita }) |
    @Html.ActionLink("Back to List", "Index")
</p>
