﻿@model IEnumerable<DentalAssistant.Models.Cita>

@{
    ViewBag.Title = "Indice Citas";
}

    <h2>Indice Citas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.paciente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodo_recordatorio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodo_recordatorio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cita }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cita })
        </td>
    </tr>
}

</table>
