﻿@model DentalAssistant.Models.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.factura.cadena_cert_sat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factura.cadena_cert_sat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
