﻿@model IEnumerable<DentalAssistant.Models.Pago>

@{
    ViewBag.Title = "Indice Pagos";
}

    <h2>Indice Pagos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.factura.cadena_cert_sat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.factura.cadena_cert_sat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pago }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pago })
        </td>
    </tr>
}

</table>
