﻿@model DentalAssistant.Models.Consulta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paciente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pago.tipo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pago.tipo_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razon_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon_consulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_consulta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
