﻿@model IEnumerable<DentalAssistant.Models.Consulta>

@{
    ViewBag.Title = "Indice Consultas";
}

<h2>Indice Consultas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.paciente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago.tipo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_consulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago.tipo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_consulta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_consulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_consulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_consulta })
        </td>
    </tr>
}

</table>
