﻿@model DentalAssistant.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cadena_cert_sat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cadena_cert_sat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sello_sat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sello_sat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sello_digital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sello_digital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_serie_certificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_serie_certificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_hora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_factura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
