﻿@model IEnumerable<DentalAssistant.Models.Factura>

@{
    ViewBag.Title = "Indice Facturas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cadena_cert_sat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sello_sat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sello_digital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_serie_certificado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cadena_cert_sat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sello_sat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sello_digital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_serie_certificado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_factura }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_factura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_factura })
        </td>
    </tr>
}

</table>
