﻿@model DentalAssistant.Models.Paciente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escolaridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escolaridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alergias_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergias_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alergias_ante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergias_ante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cirugia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cirugia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cirugia_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cirugia_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicamento_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problema_anestesia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problema_anestesia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prob_anest_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prob_anest_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hemorragias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hemorragias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hemorragias_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hemorragias_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcohol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcohol_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcohol_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drogas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drogas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drogas_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drogas_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuma_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuma_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarazo_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarazo_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hipertension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hipertension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiebre_reumatica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiebre_reumatica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AIDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AIDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enf_cardio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enf_cardio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enf_respiratorias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enf_respiratorias)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
