﻿@model IEnumerable<DentalAssistant.Models.Paciente>

@{
    ViewBag.Title = "Indice Pacientes";
}

    <h2>Indice Pacientes</h2>

<p>
    @Html.ActionLink("Registrar Paciente", "Create")
</p>

<input type="search" id="search" value="" class="form-control" placeholder="Buscar">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_cel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_cel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_paciente }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_paciente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_paciente })
        </td>
    </tr>
}

</table>
