﻿        <div id="sidebar-wrapper">
            <ul class="sidebar-nav mt-3 ">
                <li class="sidebar-brand">
                    <span>Menu Principal</span>
                </li>





                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Panel de Admin", "Index", "Home", new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Pacientes", "Index", "Pacientes", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Citas", "Index", "Citas", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Consultas", "Index", "Consultas", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                    </li>
                }
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-link" })
                </li>



            </ul>
        </div>
